@import "../common.scss";

//==========PC==========//
body {
  width: 100%;
  #container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 35px;
    padding: 100px 0;
    margin: 0 auto;
    .mypage_firstbox {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        width: 600px;
        border: 1px solid $Color_stroke;
        padding: 35px;
        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          font-size: 13px;
        }
        #mypage_opacity {
          opacity: 0;
        }
      }
    }
    .mypage_secondbox {
      width: 100%;
      border: 1px solid $Color-stroke;
      ul:first-child {
        padding: 10px 30px;
        border-bottom: 1px solid $Color-stroke;
        background: $backgroundcolor-lightgreen;
        li {
          span {
            font-size: 12px;
            color: $Textcolor-gray;
          }
        }
      }
      ul:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          width: 20%;
          margin: 20px 0 30px;
          text-align: center;
          border-right: 2px dotted $Color_stroke;
          &:last-child {
            display: flex;
            flex-direction: column;
            border-right: none;
            span {
              line-height: 1.5rem;
            }
          }
        }
      }
    }
    .mypage_lastbox {
      border: 1px solid $Color-stroke;
      width: 100%;
      div {
        padding: 32px;
        border-bottom: 1px solid $Color-stroke;
        a {
          span {
            display: flex;
            align-items: center;
            h4 {
              margin-left: 10px;
            }
            &:first-child {
              font-family: "Futura PT";
              font-size: 14px;
              margin-bottom: 5px;
            }
            &:last-child {
              color: $Textcolor-gray;
              margin-top: 5px;
              font-size: 13px;
              height: 30px;
            }
          }
          img {
            display: none;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    button {
      width: 185px;
      height: 40px;
      background: $Textcolor-black;
      color: #fff;
      font: normal 15px/1 "Futura PT";
      letter-spacing: 2px;
    }
  }
}

//==========Tablet==========//
@media screen and (max-width: 1200px) {
  body {
    width: 100%;
    #container {
      width: 100%;
      padding: 50px 0;
    }
  }
}

//==========Mobile==========//
@media screen and (max-width: 768px) {
  body {
    min-width: 390px;
    #container {
      gap: 0;
      word-break: keep-all;
      padding: 15px 0;
      .mypage_firstbox {
        height: 80px;
        ul {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 30px 0;
          &:last-child {
            display: none;
          }
          li {
            width: 50%;
            font-size: 30px;
            margin-bottom: 10px;
            padding: 0 30px;
            &:nth-child(1) {
              border-right: 1px solid $Color-stroke;
            }
            &:nth-child(2) {
              display: none;
            }
            span {
              color: $Textcolor-gray;
              img {
                display: none;
              }
            }
          }
        }
      }
      .mypage_secondbox {
        ul:first-child {
          display: flex;
          justify-content: center;
          align-items: center;
          li {
            padding: 10px;
            text-align: center;
            font-size: 33px;
            span {
              font-size: 30px;
            }
          }
        }
        ul:last-child {
          display:block;
          overflow: hidden;
          li {
            float: left;
            width: 50%;
            height: 160px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            &:nth-child(2),&:nth-child(4) {
              border: none;
            }
            &:last-child {
              width: 100%;
              height: 80px;
              flex-direction: row;
              background: $backgroundcolor-lightgreen;
              border-top: 1px solid $Color-stroke;
              margin: 0;
              span {
                width: 33.33%;
                border-right: 1px solid $Color-stroke;
                &:last-child {
                  border: none;
                }
              }
            }
          }
        }
      }
      .mypage_lastbox {
        div {
          &:first-child {
            border-top: none;
          }
          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              h4 {
                display: none;
              }
              &:first-child {
                font-size: 30px;
              }
              &:nth-child(2) {
                display: none;
                font-weight: normal;
              }
            }
            img {
              display: block;
              width: 30px;
            }
          }
        }
      }
      button {
        width: 80%;
        height: 80px;
        font-size: 30px;
        margin-top: 50px;
        letter-spacing: 5px;
      }
    }
  }
}
