//==========reset==========//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
//==========var==========//
$Textcolor-black: #1e1e1e;
$Textcolor-gray: #a0a0a0;
$Textcolor-white: #fffefa;
$backgroundcolor-blue: #83a2c1;
$backgroundcolor-lightgreen: #f7f7ef;
$backgroundcolor-light: #fafaf6;
$Color-stroke: #e0ded9;
$Color-lightgray: #f6f6f6;
$Color-orange: #fc6408;

//==========font==========//
@import url("https://fonts.cdnfonts.com/css/futura-pt");
//font-family: 'Futura PT', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
//font-family: "Playfair Display", serif;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
//font-family: "Noto Sans KR", sans-serif;

h1 {
  font: normal 36px/1 "Playfair Display";
  @media screen and (max-width: 768px) {
    font-size: 56px;
  }
}
h2 {
  font: normal 28px/1 "Futura PT";
  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
}
h3 {
  font: normal 18px/1 "Futura PT";
  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 2.5rem;
  }
}
h4 {
  font: normal 14px/1 "Noto Sans KR";
  @media screen and (max-width: 768px) {
    font-size: 33px;
    line-height: 2.5rem;
  }
}
h5 {
  font: normal 11px/1 "Noto Sans KR";
  @media screen and (max-width: 768px) {
    font-size: 30px;
    line-height: 2.5rem;
  }
}

//==========common==========//

body {
  background: $backgroundcolor-light;
}

#header {
  width: 100%;
}

#gnb {
  width: 100%;
  background: $backgroundcolor-lightgreen;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .gnb_container {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $Color-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    li {
      font: normal 28px/1 "Playfair Display";
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .gnb_container {
      gap: 13px;
      height: 80px;
      &:nth-child(2) {
        padding: 20px 40px;
        height: 150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

#menu {
  width: 100%;
}

#asdie {
  width: 100%;
}

#footer {
  width: 100%;
}
