@import url("https://fonts.cdnfonts.com/css/futura-pt");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font: normal 36px/1 "Playfair Display";
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font: normal 28px/1 "Futura PT";
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font: normal 18px/1 "Futura PT";
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 40px;
    line-height: 2.5rem;
  }
}

h4 {
  font: normal 14px/1 "Noto Sans KR";
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 33px;
    line-height: 2.5rem;
  }
}

h5 {
  font: normal 11px/1 "Noto Sans KR";
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 30px;
    line-height: 2.5rem;
  }
}

body {
  background: #fafaf6;
}

#header {
  width: 100%;
}

#gnb {
  width: 100%;
  background: #f7f7ef;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gnb .gnb_container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e0ded9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#gnb .gnb_container li {
  font: normal 28px/1 "Playfair Display";
}
#gnb .gnb_container li:hover {
  text-decoration: underline;
}
#gnb .gnb_container li:focus {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  #gnb .gnb_container {
    gap: 13px;
    height: 80px;
  }
  #gnb .gnb_container:nth-child(2) {
    padding: 20px 40px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

#menu {
  width: 100%;
}

#asdie {
  width: 100%;
}

#footer {
  width: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
}
.wrap #container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap #container .product_list {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  gap: 0;
}
.wrap #container .product_list .product {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrap #container .product_list .product .productimg {
  width: 100%;
  height: 400px;
  position: relative;
}
.wrap #container .product_list .product .productimg img {
  height: 100%;
  transition: all 0.3s;
  position: relative;
}
.wrap #container .product_list .product .productimg .shop_product_thumbnail_hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.wrap #container .product_list .product .productimg .shop_product_thumbnail_hover:hover {
  opacity: 1;
}
.wrap #container .product_list .product .product_info {
  text-align: center;
  margin: 17px;
  position: relative;
}
.wrap #container .product_list .product .product_info h3 {
  margin-bottom: 17px;
  height: 55px;
}
.wrap #container .product_list .product .product_info .product_name {
  height: 28px;
  color: #a0a0a0;
}
.wrap #container .product_list .product .product_info .shop_product_price {
  margin: 17px 0 32px;
  height: 33px;
}
.wrap #container .product_list .product .product_info .shop_product_price .product_original_price {
  color: #a0a0a0;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.wrap #container .product_list .product .product_info .shop_product_price .product_price {
  font-family: "Futura PT";
}
.wrap #container .product_list .product .product_info .button_pc_nobg {
  width: 185px;
  height: 45px;
  border: 1px solid #1e1e1e;
  font: normal 14px/1 "Futura PT";
  background: none;
  cursor: pointer;
}
.wrap #container .product_list .product .product_info .button_pc_nobg:hover {
  background: #1e1e1e;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .wrap #container {
    min-width: 768px;
  }
  .wrap #container .product_list {
    width: 100%;
    grid-template-columns: repeat(4, 25%);
  }
  .wrap #container .product_list .product {
    width: 100%;
  }
  .wrap #container .product_list .product .productimg {
    height: auto;
  }
  .wrap #container .product_list .product .productimg img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center top;
       object-position: center top;
  }
  .wrap #container .product_list .product .productimg .shop_product_thumbnail_hover {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .wrap #container {
    min-width: 390px;
  }
  .wrap #container .product_list {
    grid-template-columns: repeat(2, 50%);
  }
  .wrap #container .product_list .product .product_info {
    margin-left: 0;
    margin-right: 0;
  }
  .wrap #container .product_list .product .product_info h3 {
    padding: 10px;
    font-size: 33px;
  }
  .wrap #container .product_list .product .product_info h4 {
    padding: 10px 30px;
    font-size: 30px;
  }
  .wrap #container .product_list .product .product_info .button_pc_nobg {
    font-size: 33px;
    width: 100%;
    height: 80px;
    border-left: none;
  }
}/*# sourceMappingURL=Shop.css.map */