@import url("https://fonts.cdnfonts.com/css/futura-pt");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font: normal 36px/1 "Playfair Display";
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font: normal 28px/1 "Futura PT";
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font: normal 18px/1 "Futura PT";
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 40px;
    line-height: 2.5rem;
  }
}

h4 {
  font: normal 14px/1 "Noto Sans KR";
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 33px;
    line-height: 2.5rem;
  }
}

h5 {
  font: normal 11px/1 "Noto Sans KR";
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 30px;
    line-height: 2.5rem;
  }
}

body {
  background: #fafaf6;
}

#header {
  width: 100%;
}

#gnb {
  width: 100%;
  background: #f7f7ef;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gnb .gnb_container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e0ded9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#gnb .gnb_container li {
  font: normal 28px/1 "Playfair Display";
}
#gnb .gnb_container li:hover {
  text-decoration: underline;
}
#gnb .gnb_container li:focus {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  #gnb .gnb_container {
    gap: 13px;
    height: 80px;
  }
  #gnb .gnb_container:nth-child(2) {
    padding: 20px 40px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

#menu {
  width: 100%;
}

#asdie {
  width: 100%;
}

#footer {
  width: 100%;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
}
.wrap #container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin: 90px auto 100px;
  width: 75%;
  border: 1px solid red;
  position: relative;
}
.wrap #container #stocklist_online #stocklist,
.wrap #container #stocklist_offline #stocklist {
  width: auto;
  display: flex;
  justify-content: center;
}
.wrap #container #stocklist_online #stocklist .stockcont,
.wrap #container #stocklist_offline #stocklist .stockcont {
  width: 100%;
  text-align: center;
  margin-bottom: 65px;
}
.wrap #container #stocklist_online #stocklist .stockcont img,
.wrap #container #stocklist_offline #stocklist .stockcont img {
  width: 100%;
}
.wrap #container #stocklist_online #stocklist .stockcont h3,
.wrap #container #stocklist_offline #stocklist .stockcont h3 {
  margin: 20px auto 9px;
  font: 500 18px/1.8 "Futura PT";
}
.wrap #container #stocklist_online #stocklist .stockcont p,
.wrap #container #stocklist_offline #stocklist .stockcont p {
  font: normal 14px/1 "Futura PT";
  color: #a0a0a0;
}
.wrap #container #stocklist_online #stocklist .stockcont:nth-child(3) h3,
.wrap #container #stocklist_offline #stocklist .stockcont:nth-child(3) h3 {
  font: 500 18px/1.8 "Noto Sans KR";
}
.wrap #container #stocklist_online #stocklist:last-child,
.wrap #container #stocklist_offline #stocklist:last-child {
  width: 100%;
  justify-content: start;
}
.wrap #container #stocklist_online #stocklist:last-child .stockcont,
.wrap #container #stocklist_offline #stocklist:last-child .stockcont {
  width: 25%;
}
.wrap #container #stocklist_offline {
  display: none;
}
.wrap #container #stocklist_offline .stockcont p {
  margin-bottom: 9px;
}
.wrap #container #stocklist_offline .stockcont span {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font: normal 14px/1.4 "Futura PT";
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 9px;
}
.wrap #container #stocklist_offline .stockcont .stockcont_ananti_inner,
.wrap #container #stocklist_offline .stockcont .stockcont_chicor_inner {
  margin: 15px;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s;
}
.wrap #container #stocklist_offline .stockcont .stockcont_ananti_inner .stockcont_inner,
.wrap #container #stocklist_offline .stockcont .stockcont_chicor_inner .stockcont_inner {
  margin-top: 15px;
}
.wrap #container #stocklist_offline .stockcont .stockcont_ananti_inner .stockcont_inner:nth-child(1),
.wrap #container #stocklist_offline .stockcont .stockcont_chicor_inner .stockcont_inner:nth-child(1) {
  margin-top: 0px;
}
.wrap #container #stocklist_offline .stockcont .stockcont_ananti_inner .stockcont_inner h4,
.wrap #container #stocklist_offline .stockcont .stockcont_chicor_inner .stockcont_inner h4 {
  font: 14px/1.4 "Noto Sans KR";
}
.wrap #container #stocklist_offline .stockcont .stockcont_ananti_inner .stockcont_inner p,
.wrap #container #stocklist_offline .stockcont .stockcont_chicor_inner .stockcont_inner p {
  font: 11px/1.1 "Noto Sans KR";
  color: #a0a0a0;
}
.wrap #container #stocklist_offline .stockcont .view {
  height: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.wrap #container .tab {
  display: block;
}
.wrap #footer {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.wrap #footer #footer_slide {
  position: absolute;
}
.wrap #footer #footer_slide .footer_slide_img {
  display: flex;
  height: 200px;
  animation: footerslide 120s linear infinite;
}
@keyframes footerslide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.wrap #footer #footer_cont {
  text-align: center;
  margin-top: 200px;
}
.wrap #footer #footer_cont #footer_left {
  float: left;
  width: 50%;
  overflow: hidden;
  padding: 150px 0 150px;
  border-right: 1px solid #e0ded9;
}
.wrap #footer #footer_cont #footer_left h2 {
  font: normal 1.125rem/1 "Futura PT";
}
.wrap #footer #footer_cont #footer_left .footer_left_cont span {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 0.825rem/1.3 "Futura PT";
}
.wrap #footer #footer_cont #footer_left .footer_left_cont span:first-child {
  margin-top: 24px;
}
.wrap #footer #footer_cont #footer_left .footer_left_cont span:last-child {
  margin-top: 38px;
  font: normal 11px/1 "Futura PT";
}
.wrap #footer #footer_cont #footer_right {
  display: flex;
  flex-direction: row;
  float: right;
  width: 50%;
}
.wrap #footer #footer_cont #footer_right .footer_right_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  padding: 150px 0 150px;
}
.wrap #footer #footer_cont #footer_right .footer_right_cont h2 {
  font: normal 18px/1 "Futura PT";
  margin-bottom: 18px;
}
.wrap #footer #footer_cont #footer_right .footer_right_cont span {
  font: normal 14px/1.3 "Futura PT";
}
.wrap #footer #footer_cont #footer_right .footer_right_cont .footer_right_cont_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 34px;
}
.wrap #footer #footer_cont #footer_right .footer_right_cont .footer_right_cont_icon i,
.wrap #footer #footer_cont #footer_right .footer_right_cont .footer_right_cont_icon img {
  width: 28px;
  height: 28px;
  line-height: 1.6rem;
}
.wrap #footer #footer_cont #footer_right .footer_right_cont .footer_right_cont_icon i {
  scale: 2;
}
.wrap #footer #footer_cont #footer_right .footer_right_cont:nth-child(2) {
  padding-left: 20px;
}
.wrap #footer #footer_cont #footer_right .footer_right_cont:nth-child(2) span {
  font: normal 14px/1.3 "Noto Sans KR";
}
.wrap #footer #footer_cont #footer_right .footer_right_cont:nth-child(3) p {
  font: normal 14px/1.3 "Futura PT";
}
.wrap #footer #footer_cont #footer_right .footer_right_cont:nth-child(3) p:last-child {
  display: none;
}

@media screen and (max-width: 1200px) {
  .wrap #container {
    width: 100%;
  }
  .wrap #footer #footer_cont #footer_left {
    padding: 100px 0 100px;
  }
  .wrap #footer #footer_cont #footer_left h2 {
    font: normal 16px/1 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_left .footer_left_cont span {
    font: normal 10px/1.3 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_left .footer_left_cont span:last-child {
    font: normal 8px/1 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont {
    padding: 100px 0 100px;
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont h2 {
    font: normal 16px/1 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont span {
    font: normal 10px/1.3 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont .footer_right_cont_icon i,
  .wrap #footer #footer_cont #footer_right .footer_right_cont .footer_right_cont_icon img {
    line-height: 1.7rem;
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont .footer_right_cont_icon i {
    scale: 2;
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont:nth-child(2) span {
    font: normal 10px/1.3 "Noto Sans KR";
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont:nth-child(3) p {
    font: normal 10px/1.3 "Futura PT";
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    min-width: 390px;
  }
  .wrap #container {
    gap: 0px;
  }
  .wrap #container #stocklist_online #stocklist,
  .wrap #container #stocklist_offline #stocklist {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wrap #container #stocklist_online #stocklist .stockcont,
  .wrap #container #stocklist_offline #stocklist .stockcont {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
  .wrap #container #stocklist_online #stocklist .stockcont img,
  .wrap #container #stocklist_offline #stocklist .stockcont img {
    width: 100%;
  }
  .wrap #container #stocklist_online #stocklist .stockcont h3,
  .wrap #container #stocklist_offline #stocklist .stockcont h3 {
    margin: 20px auto 9px;
    font: 500 18px/1.8 "Futura PT";
  }
  .wrap #container #stocklist_online #stocklist .stockcont p,
  .wrap #container #stocklist_offline #stocklist .stockcont p {
    font: normal 14px/1 "Futura PT";
    color: #a0a0a0;
  }
  .wrap #container #stocklist_online #stocklist .stockcont:nth-child(3) h3,
  .wrap #container #stocklist_offline #stocklist .stockcont:nth-child(3) h3 {
    font: 500 18px/1.8 "Noto Sans KR";
  }
  .wrap #container #stocklist_online #stocklist:last-child,
  .wrap #container #stocklist_offline #stocklist:last-child {
    width: 100%;
    justify-content: start;
  }
  .wrap #container #stocklist_online #stocklist:last-child .stockcont,
  .wrap #container #stocklist_offline #stocklist:last-child .stockcont {
    width: 100%;
  }
  .wrap #container #stocklist_offline {
    display: none;
  }
  .wrap #container .tab {
    display: block;
  }
  .wrap #footer #footer_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .wrap #footer #footer_cont #footer_left {
    width: 100%;
    overflow: hidden;
    padding: 50px 0 50px;
    border-bottom: 1px solid #e0ded9;
  }
  .wrap #footer #footer_cont #footer_left h2 {
    font: normal 1.125rem/1 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_left .footer_left_cont span {
    font: normal 0.825rem/1.3 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_left .footer_left_cont span:last-child {
    display: none;
  }
  .wrap #footer #footer_cont #footer_right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px;
    border-bottom: 1px solid #e0ded9;
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont h2 {
    font: normal 18px/1 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont span {
    font: normal 14px/1.3 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont .footer_right_cont_icon i,
  .wrap #footer #footer_cont #footer_right .footer_right_cont .footer_right_cont_icon img {
    line-height: 1.6rem;
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont:nth-child(2) span {
    font: normal 14px/1.3 "Noto Sans KR";
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont:nth-child(3) p {
    font: normal 14px/1.3 "Futura PT";
  }
  .wrap #footer #footer_cont #footer_right .footer_right_cont:nth-child(3) p:last-child {
    display: block;
    margin-top: 76px;
    font: normal 11px/1 "Futura PT";
  }
}/*# sourceMappingURL=Stocklist.css.map */