@import "../../common.scss";

//==========PC==========//
body {
  width: 100%;
}

//==========Tablet==========//
@media screen and (max-width: 1200px) {
  .wrap {
    width: 100%;
    .container {
      width: 100%;
    }
  }
}

//==========Mobile==========//
@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    min-width: 390px;
    .container {
      width: 100%;
    }
  }
}
