@import url("https://fonts.cdnfonts.com/css/futura-pt");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font: normal 36px/1 "Playfair Display";
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font: normal 28px/1 "Futura PT";
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font: normal 18px/1 "Futura PT";
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 40px;
    line-height: 2.5rem;
  }
}

h4 {
  font: normal 14px/1 "Noto Sans KR";
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 33px;
    line-height: 2.5rem;
  }
}

h5 {
  font: normal 11px/1 "Noto Sans KR";
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 30px;
    line-height: 2.5rem;
  }
}

body {
  background: #fafaf6;
}

#header {
  width: 100%;
  min-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header #header_popup {
  width: 100%;
  height: 32px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #83a2c1;
  color: #fff;
}
#header #header_popup img {
  width: 18px;
  height: 18px;
}
#header #header_popup img:nth-child(1) {
  opacity: 0;
}
#header #header_popup img:last-child {
  filter: invert(1);
}
#header #header_contents {
  width: 75%;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#header #header_contents button {
  border: none;
  background: none;
}
#header #header_contents .header_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header #header_contents .header_menu div {
  width: 28px;
  height: 1px;
  background: #1e1e1e;
}
#header #header_contents .header_menu div:nth-child(2) {
  margin: 8px 0;
}
#header #header_contents .header_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #header_contents .header_right img {
  width: 28px;
  height: 28px;
  margin: 0 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
#header #header_contents .header_right .header_menu_mobile {
  margin-left: 10px;
  display: none;
}
#header #header_contents .header_logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#header #header_contents .header_logo img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  #header #header_popup {
    height: 20px;
    font-size: 20px;
    padding: 20px;
  }
  #header #header_contents {
    width: 100%;
    min-width: 390px;
    height: 70px;
    border: 1px solid red;
    padding: 20px;
  }
  #header #header_contents .header_menu {
    display: none;
  }
  #header #header_contents .header_logo {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    width: 64px;
    height: 64px;
  }
  #header #header_contents .header_logo img {
    width: 100%;
    height: 100%;
  }
  #header #header_contents .header_right img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  #header #header_contents .header_right .header_menu_mobile {
    display: block;
    margin-left: 15px;
  }
  #header #header_contents .header_right .header_menu_mobile div {
    height: 2px;
  }
}

#gnb {
  width: 100%;
  background: #f7f7ef;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gnb ul {
  justify-content: space-between;
}
#gnb .gnb_container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e0ded9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#gnb .gnb_container li {
  font: normal 28px/1 "Playfair Display";
}
#gnb .gnb_container li:hover {
  text-decoration: underline;
}
#gnb .gnb_container li:focus {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  #gnb ul {
    justify-content: space-between;
  }
  #gnb .gnb_container {
    gap: 50px;
    height: 80px;
    justify-content: center;
    padding: 0 20px;
  }
  #gnb .gnb_container:nth-child(2) {
    height: auto;
    padding: 20px 40px;
    text-wrap: wrap;
  }
}

#gnb {
  width: 100%;
  background: #f7f7ef;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gnb .gnb_container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e0ded9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#gnb .gnb_container li {
  font: normal 28px/1 "Playfair Display";
}
#gnb .gnb_container li:hover {
  text-decoration: underline;
}
#gnb .gnb_container li:focus {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  #gnb .gnb_container {
    gap: 13px;
    height: 80px;
  }
  #gnb .gnb_container:nth-child(2) {
    padding: 20px 40px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

#menu {
  width: 100%;
}

#asdie {
  width: 100%;
}

#footer {
  width: 100%;
}

body {
  width: 100%;
}
body .container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  margin: 0 auto;
}
body .container .mileage_firstbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .mileage_firstbox ul {
  width: 600px;
  border: 1px solid #e0ded9;
  padding: 35px;
}
body .container .mileage_firstbox ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 13px;
}
body .container .mileage_firstbox ul .mileage_firstchild {
  display: none;
}
body .container .mileage_secondbox {
  width: 100%;
  height: 40px;
  font-size: 14px;
  background: #f7f7ef;
  border: 1px solid #e0ded9;
  border-bottom: 1.5px solid #1e1e1e;
  margin: 35px 0 60px;
}
body .container .mileage_secondbox button {
  width: 200px;
  height: 100%;
  color: #a0a0a0;
  border: none;
  border-right: 1px solid #e0ded9;
  background: transparent;
}
body .container .mileage_secondbox button:nth-child(1) {
  background: #1e1e1e;
  color: #fff;
}
body .container .mileage_secondbox button img {
  display: none;
}
body .container .mileage_lastbox {
  width: 100%;
}
body .container .mileage_lastbox h4 {
  font-style: bold;
  margin-bottom: 10px;
}
body .container .mileage_lastbox ul {
  width: 1200px;
  height: 60px;
  display: grid;
  grid-template-columns: 150px 150px 150px 1fr;
  border: 1px solid var(--Color-tableline, #e0ded9);
  background: #f7f7ef;
}
body .container .mileage_lastbox ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  border-right: 1px solid #e0ded9;
  font-size: 14px;
}
body .container .mileage_lastbox ul li:last-child {
  border-right: none;
}
body .container .mileage_lastbox ul:last-child {
  border: none;
  background: transparent;
}
body .container .mileage_lastbox ul:last-child li {
  width: 1200px;
  border: none;
}

@media screen and (max-width: 1200px) {
  .wrap {
    width: 100%;
  }
  .wrap .container {
    width: 100%;
    padding: 50px 0;
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    min-width: 390px;
  }
  .wrap .container {
    width: 100%;
    padding: 50px 0;
  }
  .wrap .container .mileage_firstbox {
    display: block;
  }
  .wrap .container .mileage_firstbox ul {
    width: 100%;
    padding: 0;
    border: none;
  }
  .wrap .container .mileage_firstbox ul li {
    font-size: 33px;
    border-bottom: 1px solid #e0ded9;
    padding: 20px;
    margin-bottom: 0;
  }
  .wrap .container .mileage_firstbox ul img {
    display: none;
  }
  .wrap .container .mileage_firstbox:last-child li:last-child {
    display: none;
  }
  .wrap .container .mileage_firstbox .mileage_firstchild {
    display: block;
    background: #1e1e1e;
    color: #fff;
    font-size: 40px;
  }
  .wrap .container .mileage_secondbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrap .container .mileage_secondbox button {
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7f7ef;
    border: 1px solid #e0ded9;
    border-bottom: none;
  }
  .wrap .container .mileage_secondbox button span {
    font-size: 33px;
    color: #1e1e1e;
  }
  .wrap .container .mileage_secondbox button img {
    display: inline;
  }
  .wrap .container .mileage_secondbox button:first-child {
    background: inherit;
    color: inherit;
  }
  .wrap .container .mileage_secondbox button:last-child {
    border-bottom: 1px solid #e0ded9;
  }
  .wrap .container .mileage_lastbox {
    display: none;
  }
}/*# sourceMappingURL=mileage.css.map */